#XMLID_1100_,#XMLID_1063_{fill:#EAE7D9 !important;}
#XMLID_1099_,#XMLID_1062_{fill:#EAE7D9 !important;}
#XMLID_1098_,#XMLID_1061_{fill:#EAE7D9 !important;}
#XMLID_1097_,#XMLID_1060_{fill:#EAE7D9 !important;}
#XMLID_1059_,#XMLID_1096_{fill:#EAE7D9 !important;}
#XMLID_1077_,#XMLID_1045_{fill:#EAE7D9 !important;}
#XMLID_1044_{fill:#EAE7D9 !important;}


#t1_d1:hover #XMLID_1100_{fill:#F7B426 !important;}
#t1_d1:hover #XMLID_1063_{fill:#F7B426 !important;}

#t1_d2:hover #XMLID_1099_{fill:#EE2A7B !important;}
#t1_d2:hover #XMLID_1062_{fill:#EE2A7B !important;}

#t1_d3:hover #XMLID_1098_{fill:#E8F4FC !important;}
#t1_d3:hover #XMLID_1061_{fill:#E8F4FC !important;}

#t1_d4:hover #XMLID_1097_{fill:#4B82C0 !important;}
#t1_d4:hover #XMLID_1060_{fill:#4B82C0 !important;}

#t1_d5:hover #XMLID_1096_{fill:#EADC31 !important;}
#t1_d5:hover #XMLID_1059_{fill:#EADC31 !important;}

#t1_d6:hover #XMLID_1077_{fill:#AFC836 !important;}
#t1_d6:hover #XMLID_1045_{fill:#AFC836 !important;}

#XMLID_1044_:hover{fill:#F9F1D3 !important;}
